<body>
<div style="text-align:center; margin-top:200px;">
  <p>INPUT</p>
  <input type="text" id="text" style="width: 400px;">
  <button onclick="myFunction()">Try it</button>
  <div id="demo"></div>
</div>

<script>
function myFunction() {
    var str = (document.getElementById("text").value).toUpperCase();
    //var patt1 = /(([0-9])((\w|\/))*\s(.*(HN|HCM|AG|\.\s)))/gm;
    //var patt1 = /([0-9](\w|\/|\\)*(.*HCM|TPHCM|AG|BV|BL|BT|BD|BĐ|PT|CM|CB|CT|ĐN|ĐL|KG|TTH|SG|GL|BÌNH PHƯỚC|ĐỒNG THÁP|BÌNH DƯƠNG|AN GIANG|ĐỒNG NAI|CẦN THƠ|BÀ RỊA VŨNG TÀU|HẬU GIANG|TP HCM|SÓC TRĂNG|LONG AN|TRÀ VINH|TIỀN GIANG|BẠC LIÊU|BẾN TRE|THANH HÓA|ĐÀ NẴNG|NGHỆ AN|KHÁNH HÒA|HÀ NỘI|BẮC GIANG|HÀ GIANG|BẮC NINH||HÒA BÌNH|LAI CHÂU|QUẢNG NINH|LÀO CAI|HƯNG YÊN|TUYÊN QUANG|HẢI DƯƠNG|BẮC KẠN|HẢI PHÒNG|ĐIỆN BIÊN|THÁI BÌNH|THÁI NGUYÊN|HÀ NAM|LẠNG SƠN|NAM ĐỊNH|VĨNH PHÚC|NINH BÌNH|PHÚ THỌ|HO CHI MINH| NINH THUẬN|HUE|THỪA THIÊN HUẾ|BÌNH THUẬT|QUẢNG TRỊ|KHÁNH HÒA|HÀ TĨNH|QUẢNG NAM|CAN THO|DONG NAI|BINH DUONG|THANH HOA|DA NANG|NGHE AN|QUANG NAM|HA TINH|KHANH HOA|QUANG TRI|NINH THUAN|HUE|BINH THUAN|DONG THAP|HAU GIANG|TIEN GIANG|BINH PHUOC||HA NOI|SAI GON|DA LAT|DA NANG|PHU QUOC|AN GIANG|KIENG GIANG|PHAN THIET|VUNG TAU|BA RIA VUNG TAU|HAI PHONG|CA MAU|BAC LIEU|BEN TRE|\.\s))/gm;
    var patt1 = /([0-9](\w|\/|\\|\s)*(.*(HCM|SÀI GÒN|HN|HỒ CHÍ MINH|TPHCM|AG|BV|BL|BT|BD|BĐ|PT|CM|CB|CT|ĐN|ĐL|KG|TTH|SG|GL|BÌNH PHƯỚC|ĐỒNG THÁP|BÌNH DƯƠNG|AN GIANG|ĐỒNG NAI|CẦN THƠ|BÀ RỊA VŨNG TÀU|HẬU GIANG|TP HCM|SÓC TRĂNG|LONG AN|TRÀ VINH|TIỀN GIANG|BẠC LIÊU|BẾN TRE|THANH HÓA|ĐÀ NẴNG|NGHỆ AN|KHÁNH HÒA|HÀ NỘI|BẮC GIANG|HÀ GIANG|BẮC NINH|HÒA BÌNH|LAI CHÂU|QUẢNG NINH|LÀO CAI|HƯNG YÊN|TUYÊN QUANG|HẢI DƯƠNG|BẮC KẠN|HẢI PHÒNG|ĐIỆN BIÊN|THÁI BÌNH|THÁI NGUYÊN|HÀ NAM|LẠNG SƠN|NAM ĐỊNH|VĨNH PHÚC|NINH BÌNH|PHÚ THỌ|HO CHI MINH| NINH THUẬN|HUE|THỪA THIÊN HUẾ|BÌNH THUẬT|QUẢNG TRỊ|KHÁNH HÒA|HÀ TĨNH|QUẢNG NAM|CAN THO|DONG NAI|BINH DUONG|THANH HOA|DA NANG|NGHE AN|QUANG NAM|HA TINH|KHANH HOA|QUANG TRI|NINH THUAN|HUE|BINH THUAN|DONG THAP|HAU GIANG|TIEN GIANG|BINH PHUOC|HA NOI|SAI GON|DA LAT|DA NANG|PHU QUOC|AN GIANG|KIENG GIANG|PHAN THIET|VUNG TAU|BA RIA VUNG TAU|HAI PHONG|CA MAU|BAC LIEU|BEN TRE)|\.\s|\.\s+))/gm;
    //console.log(patt1);
    var result = str.match(patt1);
    var patt2 = /\,/g;
    for (i = 0; i < result.length; i++) {
        if (result[i].match(patt2)!==null){
          document.getElementById("demo").innerHTML = ('<div class="zi">' + result[i] + '</div>');
        }
    }

}
</script>
</body>
